.featured {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-800);

    @media (width > 375px) {
        display: flex;
        justify-content: space-between;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-500);
    align-items: stretch;
    margin-block: var(--space-700);
    
}

.big-number {
    font-size: var(--font-size-700);
    font-family: "Inter-Bold";
    color: var(--color-greyish-blue);
}


.card-content h3 {
    transition: color 200ms ease-in-out;
    font-size: var(--font-size-200);
    margin-block: 0;

    &:hover {
        color: var(--color-soft-red);
    }
}

.card-text {
    padding-inline-end: var(--space-500);
    font-size: var(--font-size-200);
}

@media (width < 375px) {
    .featured {
        padding: var(--space-500)
    }
}

