header {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--space-800)
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    gap: var(--space-500);
}

.home {
    margin-inline-end: auto;
    font-family: "Inter-ExtraBold serif";
    font-size: var(--font-size-700);
    color: var(--color-dark-blue);
    font-weight: 800;
}

ul {
    margin-inline-start: auto;
}

.nav-link {
    transition: color 200ms;
}

.nav-link:hover {
    color: var(--color-soft-red);
}